body {
	position: relative;
	width: 938px;
	margin: 15px auto;
	font-family: "Myriad Pro", "Droid Sans", "Arial";
	background: white url(/gfx/bg.png) repeat-x;
	font-size: 18px;
	color: #043448;
}
img {
	border: none;
}
@font-face {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Droid Sans"), local("DroidSans"), url(/media/fonts/droid.woff) format("woff");
}

div.section {
	position: relative;
	width: 700px;
	margin: 25px auto;
}
div.sep {
	width: 848px;
	height: 1px;
	background: url(/gfx/sep.png) no-repeat;
	margin: auto;
}
.noMargin {
	margin: 0px auto !important;
}
div.shadow {
	width: 754px;
	height: 23px;
	margin: 0px auto;
}
div.shadow.up {
	background: url(/gfx/shadow_up.png) no-repeat;
}
div.shadow.down {
	background: url(/gfx/shadow_down.png) no-repeat;
}
.hl {
	text-align: center;
	font-size: 28px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	font-weight: bold;
}
.hl .smaller {
	font-size: 22px;
	letter-spacing: 2px;
	font-weight: normal;
}
.bigger {
	font-size: 20px;
}
.indent {
	padding-left: 40px;
}
div.columns {
	overflow: auto;
}
div.columns div.column, div.columns div.bar {
	position: relative;
	float: left;
}
div.columns div.bar {
	border-left: 1px solid #cccccc;
}

#logo {
	position: absolute;
	width: 88px;
	height: 226px;
	background: url(/gfx/logo.png) no-repeat;
	display: inline-block;
	text-indent: -999px;
	z-index: 2;
}
#content {
	position: relative;
	left: 30px;
	width: 850px;
}
#head, #bottom {
	position: relative;
	color: #434343;
	min-height: 95px;
}
#head .shadow, #head .sep {
	position: absolute;
	bottom: 0px;
}
#head .section {
	font-size: 16px;
	padding: 13px 0px 0px 30px;
}
#head .section .title {
	font-size: 18px;
	font-weight: bold;
}
#bottom .section {
	margin-top: 10px;
	font-size: 14px;
}
#bottom .shadow {
	position: absolute;
	top: 0px;
}
#bottom .copyright {
	color: #cccccc;
}
#bottom .column {
	padding-top: 5px;
	height: 40px;
}
#bottom .bar {
	height: 40px;
	margin: 0px 24px;
}
#bottom table {
	border-collapse: collapse;
}
#bottom table td {
	padding: 0px;
}
#bottom table td.field {
	padding-right: 5px;
}


.slides {
	position: relative;
	width: 700px;
	height: 297px;
}
.slides div {
	position: absolute;
}
.slides .slide {
	top: 0px;
	left: 0px;
}
.slides .slide .caption {
	bottom: 10px;
	left: 20px;
	color: white;
	font-size: 30px;
	text-shadow: 1px 1px 4px black;
}

.onCall .columns {
	width: 100%;
}
.onCall .columns .column {
	width: 44%;
}
.onCall .columns .bar {
	margin: 0px 5%;
}
.onCall .columns .hl {
	font-size: 22px;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 5px;
}
.onCall .info {
	position: absolute;
	top: 80px;
	right: 10px;
	z-index: 2;
	background: rgba(255, 255, 255, 0.8);
	padding: 7px;
	border-radius: 5px;
}
.onCall .name {
	margin-bottom: 6px;
	font-weight: bold;
}
.onCall .address {
	margin-bottom: 11px;
}
.onCall .column, .onCall .bar {
	height: 270px;
}
.onCall .map {
	height: 200px;
	width: 100%;
}
.onCall .map .olControlAttribution, .map .olControlScaleLine {
	font-size: 11px;
	bottom: 0px;
	right: 0px;
	background: rgba(255, 255, 255, 0.7);
	padding: 4px;
	border-top-left-radius: 6px;
}
.onCall .map .olMapViewport {
	border-radius: 5px;
	z-index: 1;
}
.onCall .map .olTileImage {
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}